
.product-img-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 12px;
}

.product-img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}